{% extends 'base.html' %}
{% block content %}
<h1>{{ app_name }}</h1>
<h4>Name:</h4>
<p>{{ name }}</p>
<h4>Class:</h4>
<p>{{ class }}</p>
<p>Welcome to the Football Shop assignment 2!</p>

<a href="{% url 'main:create_product' %}">
  <button>+ Add Product</button>
</a>

<hr>

{% if not products %}
<p>No products yet</p>
{% else %}
    {% for p in products %}
    <div>
    <h2><a href="{% url 'main:show_product' p.id %}">{{ p.name }}</a></h2>

   <p>
      <b>Category:</b> {{ p.category }} |
      <b>Price:</b> Rp {{ p.price }} |
    </p>

    {% if p.thumbnail %}
    <img src="{{ p.thumbnail }}" alt="thumbnail" width="150" height="100">
    <br />
    {% endif %}

    <p>{{ p.description|truncatewords:25 }}...</p>

    <p><a href="{% url 'main:show_product' p.id %}"><button>Detail</button></a></p>
    </div>

    <hr>
    {% endfor %}
{% endif %}
{% endblock content %}